.more-screen .user-component__column:last-child {
  color: black;
}
.more-screen .icon-row {
  margin-top: 30px;
  border: none;
}
.more-screen .icon-row:nth-of-type(3) {
  margin-top: 20px;
}
.more-suggestions {
  margin-top: 15px;
  border-top: var(--main-border);
}
.more-suggestions__title {
  padding: 20px 0px;
  font-size: 13px;
}
.more-suggestions__icons {
  display: flex;
}
.more-suggestions__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 30px;
}
.more-suggestions__icon img {
  width: 45px;
  height: 45px;
  border-radius: 5px;
  margin-bottom: 8px;
}
.more-suggestions__icon-text {
  opacity: 0.7;
  font-size: 12px;
}
