@keyframes notificationAnimation {
  0% {
    transform: none;
  }
  50% {
    transform: rotateY(360deg);
  }
  100% {
    transform: none;
  }
}

.badge {
  background-color: var(--hotpink);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  color: white;
  font-weight: 600;
  font-size: 12px;
  left: 10px;
  bottom: 10px;
  animation: notificationAnimation 2.5s ease-in-out infinite;
}
