.reply {
  padding: 5px 15px;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--navy);
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: transform 0.3s ease-in-out;
}
.reply__column {
  transition: all 0.3s ease-in-out;
}
.reply__column:first-child {
  width: 10%;
  transition: all 0.3s ease-in-out;
  color: white;
  opacity: 0.9;
}
.reply__column:last-child {
  width: 90%;
  position: relative;
}
.reply input {
  padding-left: 10px;
  width: 100%;
  height: 40px;
  border: var(--main-border);
  border-radius: 20px;
  transition: transform 0.3s ease-in-out;
}
.reply__column:last-child > i,
.reply__column:last-child button {
  position: absolute;
}
.reply__column:last-child > i {
  right: 50px;
  top: 13px;
  opacity: 0.6;
  transition: all 0.3s ease-in-out;
}
.reply__column:last-child button {
  top: 2px;
  right: 3px;
  width: 36px;
  height: 36px;
  background-color: var(--hotpink);
  border-radius: 50%;
  border: none;
  transition: all 0.3s ease-in-out;
}
.reply__column:last-child button > i {
  color: var(--navy);
}

.reply:focus-within {
  transform: translateY(50px);
}

.reply:focus-within .reply__column:first-child {
  width: 0;
}
.reply:focus-within .reply__column:first-child,
.reply:focus-within .fa-smile,
.reply:focus-within button {
  opacity: 0;
  visibility: hidden;
}
.reply:focus-within .reply__column:last-child {
  width: 100%;
}
.reply input:focus {
  border: 1px solid var(--hotpink);
}
.reply input:focus,
.reply:focus-within .fa-smile,
.reply:focus-within button {
  transform: translateY(-50px);
}
